.recipe {
  border-radius: 10px;
  box-shadow: 0px 2px 15px orange;
  border: 1px solid orange;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #333;
  color: white;
  align-items: center;
  min-width: 40%;
}
.image {
  border-radius: 20px;
  width: 300px;
  height: 300px;
}
